<table bgcolor="#fdfdfd" style="box-sizing:border-box;border-spacing:0;width:100%;background-color:#fdfdfd;border-collapse:separate!important" width="100%">
	<tbody>
		<tr>
			<td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top" valign="top">&nbsp;</td>
			<td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;display:block;width:600px;max-width:600px;margin:0 auto!important" valign="top" width="600">
			<div style="box-sizing:border-box;display:block;max-width:600px;margin:0 auto;padding:10px"><span style="color:transparent;display:none;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;width:0">Let's verify your email.</span>
			<div style="box-sizing:border-box;width:100%;margin-bottom:30px;margin-top:15px;background-color:#02b9b5;">
			<table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">
				<tbody>
					<tr>
						<td align="left" style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;text-align:left" valign="top"><span><a href="http://101.53.147.86:3022/dashboard" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none" target="_blank"><img alt="Fifty" height="30" src="http://101.53.147.86:3021/Fifty-Logo.png" style="max-width:100%;border-style:none;width:137px;height:30px" width="137" class="CToWUd"></a></span></td>
					</tr>
				</tbody>
			</table>
			</div>

			<div style="box-sizing:border-box;width:100%;margin-bottom:30px;background:#ffffff;border:1px solid #f0f0f0">
			<table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">
				<tbody>
					<tr>
						<td style="box-sizing:border-box;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;padding:30px" valign="top">
						<table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">
							<tbody>
								<tr>
									<td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top" valign="top">
									<table cellpadding="0" cellspacing="0" style="box-sizing:border-box;border-spacing:0;width:100%;border-collapse:separate!important" width="100%">
										<tbody>
											<tr>
												<td align="center" style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;padding-bottom:15px" valign="top">
												<table cellpadding="0" cellspacing="0" style="box-sizing:border-box;border-spacing:0;width:auto;border-collapse:separate!important">
													<tbody>
														<tr>
															<td align="center" style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;border-radius:2px;text-align:center" valign="top"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><g fill="none" fill-rule="evenodd"><path d="M12.007 15.888L1.055 36.403a1.883 1.883 0 0 0 .328 2.214c.587.586 1.485.72 2.215.328l20.579-10.973" stroke="#1A82E2"></path><ellipse stroke="#1A82E2" transform="rotate(45.004 18.93 21.08)" cx="18.93" cy="21.08" rx="8.961" ry="4.135"></ellipse><path d="M27.412 20.362a8.277 8.277 0 0 1 11.696 0" stroke="#FF4081"></path><path d="M19.615 12.565a8.27 8.27 0 0 0 0-11.697" stroke="#18C96E"></path><path d="M30.125 13.75l5.848-1.947" stroke="#4CB04F"></path><path d="M26.227 9.853l1.95-5.85" stroke="#00BCD4"></path><ellipse stroke="#7B1FA2" cx="25.943" cy="13.752" rx=".835" ry=".835"></ellipse><circle stroke="#FF5722" cx="13.557" cy="8.877" r=".833"></circle><ellipse stroke="#DEA7E8" cx="33.18" cy="6.827" rx=".833" ry=".833"></ellipse><ellipse stroke="#FDD835" cx="32.075" cy="23.5" rx=".833" ry=".833"></ellipse><path d="M0 0h40v40H0z"></path></g></svg><h2>Sender Verified</h2><p>Congratulations! Your email id has been successfully verified.</p></td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</div>

			<div style="box-sizing:border-box;clear:both;width:100%">
			<table style="box-sizing:border-box;width:100%;border-spacing:0;font-size:12px;border-collapse:separate!important" width="100%">
				<tbody>
					<tr style="font-size:12px">
						<td align="center" style="box-sizing:border-box;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;vertical-align:top;font-size:12px;text-align:center;padding:20px 0" valign="top"><span style="float:none;display:block;text-align:center"><a href="" target="_blank"><img alt="Fifty" height="16" src="http://101.53.147.86:3021/Fifty-Logo.png" style="max-width:100%;border-style:none;font-size:12px;width:91px;height:20px;background-color:#02b9b5;" width="91" class="CToWUd"></a></span>

						<p style="color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;margin-bottom:5px;margin:10px 0 20px">Send with Confidence</p>

						<p style="margin:0;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;font-size:12px;margin-bottom:5px">© Fifty Inc. India</p>

						<p style="margin:0;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;font-size:12px;margin-bottom:5px"><a href="" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px" target="_blank" >Blog</a> <a href="" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px" target="_blank" >GitHub</a> <a href="" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px" target="_blank" >Twitter</a> <a href="" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px" target="_blank" >Facebook</a> <a href="" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px" target="_blank" >LinkedIn</a></p>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			</div>
			</td>
			<td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top" valign="top">&nbsp;</td>
		</tr>
	</tbody>
</table>