<table bgcolor="#fdfdfd" style="box-sizing:border-box;border-spacing:0;width:100%;background-color:#fdfdfd;border-collapse:separate!important" width="100%">

	<tbody>

		<tr>

			<td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top" valign="top">&nbsp;</td>

			<td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;display:block;width:600px;max-width:600px;margin:0 auto!important" valign="top" width="600">

			<div style="box-sizing:border-box;display:block;max-width:600px;margin:0 auto;padding:10px"><span style="color:transparent;display:none;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;width:0">Let's verify your email.</span>

			<div style="box-sizing:border-box;width:100%;margin-bottom:30px;margin-top:15px;background-color:#02b9b5;">

			<table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">

				<tbody>

					<tr>

						<td align="left" style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;text-align:left;" valign="top"><span><a href="http://101.53.147.86:3022/dashboard" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none" target="_blank"><img alt="Fifty" height="30" src="http://101.53.147.86:3021/Fifty-Logo.png" style="max-width:100%;border-style:none;width:137px;height:30px" width="137" class="CToWUd"></a></span></td>

					</tr>

				</tbody>

			</table>

			</div>



			<div style="box-sizing:border-box;width:100%;margin-bottom:30px;background:#ffffff;border:1px solid #f0f0f0">

			<table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">

				<tbody>

					<tr>

						<td style="box-sizing:border-box;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;padding:30px" valign="top">

						<table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">

							<tbody>

								<tr>

									<td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top" valign="top">

									<h2 style="margin:0;margin-bottom:30px;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;line-height:1.5;font-size:24px;color:#294661!important">Let's verify your Mail ID so you can start receiving email.</h2>



									<p style="margin:0;margin-bottom:30px;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300"><strong><a href="mailto:<%= emailId %>" target="_blank"><%= emailId %></a></strong></p>



									<p style="margin:0;margin-bottom:30px;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300"><small>Your One Time Password (OTP) is active for 15 minutes. After that, you will need to resend the OTP verification email.</small></p>

									</td>

								</tr>

								<tr>

									<td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top" valign="top">

									<table cellpadding="0" cellspacing="0" style="box-sizing:border-box;border-spacing:0;width:100%;border-collapse:separate!important" width="100%">

										<tbody>

											<tr>

												<td align="center" style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;padding-bottom:15px" valign="top">

												<table cellpadding="0" cellspacing="0" style="box-sizing:border-box;border-spacing:0;width:auto;border-collapse:separate!important">

													<tbody>

														<tr>

															<td align="center" bgcolor="#348eda" style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;background-color:#348eda;border-radius:2px;text-align:center" valign="top"><a  style="box-sizing:border-box;border-color:#348eda;font-weight:400;text-decoration:none;display:inline-block;margin:0;color:#ffffff;background-color:#348eda;border:solid 1px #348eda;border-radius:2px;font-size:14px;padding:12px 45px" target="_blank"><b style="font-size:20px;"><%= otpCode %></b></a></td>

														</tr>

													</tbody>

												</table>

												</td>

											</tr>

										</tbody>

									</table>

									</td>

								</tr>

							</tbody>

						</table>

						</td>

					</tr>

				</tbody>

			</table>

			</div>



			<div style="box-sizing:border-box;clear:both;width:100%">

			<table style="box-sizing:border-box;width:100%;border-spacing:0;font-size:12px;border-collapse:separate!important" width="100%">

				<tbody>

					<tr style="font-size:12px">

						<td align="center" style="box-sizing:border-box;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;vertical-align:top;font-size:12px;text-align:center;padding:20px 0" valign="top"><span style="float:none;display:block;text-align:center"><a href="http://101.53.147.86:3022/dashboard" target="_blank"><img alt="Fifty" height="16" src="http://101.53.147.86:3021/Fifty-Logo.png" style="max-width:100%;border-style:none;font-size:12px;width:91px;height:20px;background-color:#02b9b5;" width="91" class="CToWUd"></a></span>


						<p style="margin:0;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;font-size:12px;margin-bottom:5px;margin:10px 0 20px">© Fifty Inc. India</p>



						<p style="margin:0;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;font-size:12px;margin-bottom:5px"><a href="" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px" target="_blank" >Blog</a> <a href="" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px" target="_blank" >GitHub</a> <a href="" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px" target="_blank" >Twitter</a> <a href="" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px" target="_blank" >Facebook</a> <a href="" style="box-sizing:border-box;color:#348eda;font-weight:400;text-decoration:none;font-size:12px;padding:0 5px" target="_blank" >LinkedIn</a></p>

						</td>

					</tr>

				</tbody>

			</table>

			</div>

			</div>

			</td>

			<td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top" valign="top">&nbsp;</td>

		</tr>

	</tbody>

</table>